* {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: "苹方";
}

a {
	text-decoration: none;
	color: #666;
	display: inline-block;
}

.clearfix:after {
	clear: both;
	content: '';
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}
.mask_body{
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	display: none;
}
header {
	height: 44px;
	padding: 0px 2%;
	background: #019ade;
	overflow: hidden;
}

.h_title {
	display: inline-block;
	color: #fff;
	width: 86%;
	text-align: center;
	font-size: 15px;
	line-height: 44px;
}

header .iconfont {
	color: #fff;
	line-height: 44px;
}
.icon-dingwei,.icon-dianhua{
	color: #ff9700;
}

body {
	background: #edf0f5;
}

/*首页*/
.main_top {
	position: relative;
}

.hotel_img {
	width: 100%;
	height: 160px;
}

.hotel_title {
	width: 70%;
	font-size: 24px;
	padding: 10px 0px;
	text-align: center;
	font-weight: bold;
	border: 1px solid rgba(250, 250, 250, 0.3);
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 30px;
	left: 15%;
	letter-spacing: 2px;
	font-family: '宋体';
}
.reserve_type{
	width: 100%;
	position: absolute;
	top: 70px;
	color: #ddd;
	text-align: center;
	
	
}
.qrcode_wrap {
	width: 92%;
	text-align: center;
	background: #fff;
	padding: 20px 0px 10px;
	border-radius: 5px;
	position: absolute;
	top: 120px;
	left: 4%;
}

/*.qrcode_wrap img {
	border: 1px solid #565656;
	width: 180px;
	height: 180px;
}*/

.house_num {
	line-height: 40px;
	font-size: 20px;
	color: #fd7301;
}

.mainbtn_wrap {
	display: flex;
	justify-content: space-around;
	margin-top: 170px;
}

.mainbtn_wrap a {
	width: 90px;
	height: 90px;
	line-height: 90px;
	font-size: 16px;
	text-align: center;
	border-radius: 90px;
	border: 4px solid #fff;
	color: #fff;
}

.mainbtn_wrap a:nth-child(1) {
	background: #019ade;
}

.mainbtn_wrap a:nth-child(2) {
	background: #ff9700;
}

.online_line{
	width: 80px;
	height: 1px;
	background: #aaa;
	margin-top: 9px;
}
.bottom_title{
	font-size: 12px;
	color: #999;
}
.online_time{
	border-bottom: 1px solid #ddd;
	padding: 13px 0px;
	text-align: left;
}
/*个人资料*/
.no_interval_wrap {
	width: 100%;
	background: #fff;
	margin-bottom: 10px;
}

.no_interval_on {
	width: 94%;
	margin: 0px auto;
	color: #555;
}

.no_interval_cell:last-child {
	border-bottom: none;
}

.no_interval_cell {
	border-bottom: 1px solid #ddd;
	/*height: 45px;
	line-height: 45px;*/
	padding: 13px 0px;
	position: relative;
}

.button {
	width: 92%;
	margin: 15px auto;
	color: #fff;
	text-align: center;
	height: 45px;
	line-height: 45px;
	border-radius: 5px;
	font-size: 16px;
}

.blue_btn {
	background: #019ade;
}

.orange_btn {
	background: #ff9700;
}


/*设置*/

input[type='number'],
input[type='text'] {
	border: none;
	outline: none;
}

.send_code {
	position: absolute;
	right: 0px;
	top: 8px;
	color: #ff9700;
	border-left: 1px solid #aaa;
	padding: 5px 0px 5px 10px;
	font-weight: bold;
	background: #fff;
	outline: none;
	border-top: none;
	border-bottom: none;
	border-right: none;
}


/*个人中心*/

.main_info {
	background: #019ade;
	text-align: center;
}

.avatar {
	width: 80px;
	height: 80px;
	border-radius: 80px;
	border: 3px solid rgba(255, 255, 255, 0.4);
	margin: 30px auto 0px;
}

.username {
	font-size: 18px;
	color: #fff;
	line-height: 35px;
}

.personbar_wrap {
	width: 92%;
	line-height: 45px;
	padding: 0 4%;
	margin: 10px 0px 0px 0px;
	background: #fff;
}

.personbar_wrap a {
	width: 100%;
}

#interval_line {
	display: inherit;
	width: 88%;
	height: 1px;
	background: #ddd;
	margin-left: 33px;
}

.personbar_wrap a:last-child {
	border: none;
}

.personbar_wrap a .iconfont {
	color: #fff;
	font-size: 16px;
}

.personbar_wrap a span:first-child {
	padding: 4px 6px;
	border-radius: 3px;
}

.bar1 {
	background: #72a848;
}

.bar2 {
	background: #ffa42f;
}

.bar3 {
	background: #019ade;
}

.bar4 {
	background: #ff782e;
}

.tabbar {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 49px;
	display: flex;
	justify-content: space-around;
	background: #FFFFFF;
	padding-top: 10px;
	border-top: 1px solid #ddd;
	z-index: 1000;
}

.tabbar div {
	text-align: center;
}

.icon-shouye,
.icon-gerenzhongxin {
	font-size: 20px;
	font-weight: bold;
}

.icon-icon {
	color: #999!important;
}


/*实名认证*/

.certificate_note {
	line-height: 50px;
	text-indent: 10px;
	color: #555;
}

.upload_btn {
	background: #ff9700;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	position: relative;
}
input[type='file']{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.img_container {
	float: left;
	width: 67%;
	/*margin-right: 10px;*/
}

.img_container img {
	width: 99%;
	border-radius: 3px;
	border: 1px solid #ddd;
}

.idcard_label {
	width: 30%;
	float: left;
}

@media only screen and (max-width: 320px) {
	.idcard_label {
		width: 33%;
	}
}

@media only screen and (max-width: 414px) and (min-width: 400px) {
	.idcard_label {
		width: 27%;
	}
}
.delete_wrap{
	/*display: initial;*/
	display: none;
}
.delete_wrap .iconfont{
	vertical-align: middle;
	color: #ff9700;
}
.delete_label {
	color: #ff9700;
	vertical-align: middle;
}


/*填写订单*/

.order_title {
	padding: 13px 0px 9px 0px;
}
.order_title span{
	vertical-align: bottom;
}
.time_range {
	padding: 5px 0px;
}

.start_time,
.end_time {
	line-height: 30px;
}

.range {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 30px;
	border: 1px solid #ddd;
	text-align: center;
	position: absolute;
}

.order_range {
	top: 20px;
	left: 190px;
}

.bottom_bar {
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #fff;
}

.bottom_bar .left {
	width: 70%;
	padding: 13px 0px;
}

.orange_text {
	color: #ff9700;
	font-weight: 400;
	font-size: 16px;
}

.bottom_bar .left label {
	margin-left: 20px;
}

.bottom_bar .right {
	width: 30%;
	text-align: center;
	color: #fff;
	padding: 13px 0px;
}

.bigger_text {
	font-size: 16px;
	color: #000;
}


/*线上预订*/

.reserve_wrap {
	width: 94%;
	padding: 10px 3%;
	background: #fff;
	margin-bottom: 10px;
}

.reserve_img {
	width: 80px;
	height: 80px;
}

.reserve_on .right_info {
	width: calc(100% - 90px);
	/*height: 80px;*/
	margin-left: 10px;
	/*border: 1px solid red;*/
	float: left;
}

.reserve_on .right_info .right_top {
	line-height: 40px;
}

.reserve_on .right_info .right_top:first-child {
	border-bottom: 1px solid #ddd;
}

.reserve_time_wrap {
	width: 94%;
	margin: 0px auto;
	color: #555;
	padding: 10px 0px;
	position: relative;
}

.reserve_range {
	top: 25px;
	left: calc(50% - 16px);
	background: #fff;
	z-index: 3;
}
.reserve_online_range{
	top: 50px;
	left: 74%;
	background: #fff;
}

#reserve_range_line {
	height: 71px;
	width: 1px;
	background: #bbb;
	position: absolute;
	top: 5px;
	left: calc(50% - 1px);
	z-index: 1;
}

.reserve_time_wrap .start_time,
.reserve_time_wrap .end_time {
	position: relative;
	width: 40%;
}

.start_time .iconfont,
.end_time .iconfont {
	position: absolute;
	right: 0px;
	top: 15px;
}

.reserve_img1 {
	float: left;
	width: 90px;
	height: 70px;
}

.mid_wrap {
	margin-left: 10px;
}

.mid_wrap ul li {
	line-height: 22px;
	list-style: none;
}

.right_wrap {
	text-align: center;
	float: right;
}

.right_wrap p:first-child {
	font-size: 15px;
}

.reserve_btn {
	display: inline-block;
	background: #ff9700;
	color: #fff;
	padding: 5px 18px;
	border-radius: 5px;
	margin-top: 15px;
}
/*我的订单*/
.order_whole{
	margin-top: 10px;
}
.order_title p{
	line-height: 30px;
}